<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='L&D/styles.css') }}">
</head>
<body>
  <div class="header">
    <div class="logo">
      <img src="{{url_for('static',filename='oil_logo.jpeg')}}" alt="logo">
      <h2 class="welcome">Welcome Admin</h2>
    </div>
    <div class="logout"><a href="{{ url_for('logout') }}" class="logout-link">Logout</a></div>
  </div>

  <div class="card-grid">
    <a href="{{ url_for('lnddepartments') }}" class="card3-link">
      <div class="card3">Set Training Format</div>
    </a>
    <a href="{{ url_for('lnd_reports') }}" class="card4-link">
      <div class="card4">Department Reports</div>
    </a>
  </div>
</body>
</html>